[MULTICRAB]
cfg = crab_reco.cfg
#run with:
#multicrab -create -cfg multicrab_reco_stop.cfg 
#multicrab -submit

[COMMON]
CRAB.use_server        = 1


[stop100_neutralino30]
CMSSW.datasetpath      = /HSCPstop_M-100_Tune4C_8TeV-pythia8/jalimena-stage2_stop100_neutralino30_710-c0397b2bbbe67de88ea19a2262dc6b2a/USER
CMSSW.pset             = step3_RAW2DIGI_HLT_L1Reco_RECO_stop100_neutralino30.py
USER.ui_working_dir    = ./stop100_neutralino30
USER.publish_data_name = reco_stop100_neutralino30_723patch1

[stop200_neutralino75]
CMSSW.datasetpath      = /HSCPstop_M-200_Tune4C_8TeV-pythia8/jalimena-stage2_stop200_neutralino75_710-f43b9a269f11205d2b0d630def48bca5/USER
CMSSW.pset             = step3_RAW2DIGI_HLT_L1Reco_RECO_stop200_neutralino75.py
USER.ui_working_dir    = ./stop200_neutralino75
USER.publish_data_name = reco_stop200_neutralino75_723patch1

[stop300_neutralino109]
CMSSW.datasetpath      = /HSCPstop_M-300_Tune4C_8TeV-pythia8/jalimena-stage2_stop300_neutralino109_710-ca4aa172646410265a5a4d1c1db0ccb1/USER
CMSSW.pset             = step3_RAW2DIGI_HLT_L1Reco_RECO_stop300_neutralino109.py
USER.ui_working_dir    = ./stop300_neutralino109
USER.publish_data_name = reco_stop300_neutralino109_723patch1

[stop400_neutralino214]
CMSSW.datasetpath      = /HSCPstop_M-400_Tune4C_8TeV-pythia8/jalimena-stage2_stop400_neutralino214_710-d1dfcdc55e65f80d8754f68eb75cad3b/USER
CMSSW.pset             = step3_RAW2DIGI_HLT_L1Reco_RECO_stop400_neutralino214.py
USER.ui_working_dir    = ./stop400_neutralino214
USER.publish_data_name = reco_stop400_neutralino214_723patch1

[stop500_neutralino316]
CMSSW.datasetpath      = /HSCPstop_M-500_Tune4C_8TeV-pythia8/jalimena-stage2_stop500_neutralino316_710-a11d1ca00b2de779e2d9b14a1158919e/USER
CMSSW.pset             = step3_RAW2DIGI_HLT_L1Reco_RECO_stop500_neutralino316.py
USER.ui_working_dir    = ./stop500_neutralino316
USER.publish_data_name = reco_stop500_neutralino316_723patch1

[stop600_neutralino417]
CMSSW.datasetpath      = /HSCPstop_M-600_Tune4C_8TeV-pythia8/jalimena-stage2_stop600_neutralino417_710-17563d30d425649d12cf8fd9d28b4b85/USER
CMSSW.pset             = step3_RAW2DIGI_HLT_L1Reco_RECO_stop600_neutralino417.py
USER.ui_working_dir    = ./stop600_neutralino417
USER.publish_data_name = reco_stop600_neutralino417_723patch1

[stop700_neutralino518]
CMSSW.datasetpath      = /HSCPstop_M-700_Tune4C_8TeV-pythia8/jalimena-stage2_stop700_neutralino518_710-7be774b7c0892841964ccc410f945a49/USER
CMSSW.pset             = step3_RAW2DIGI_HLT_L1Reco_RECO_stop700_neutralino518.py
USER.ui_working_dir    = ./stop700_neutralino518
USER.publish_data_name = reco_stop700_neutralino518_723patch1

[stop800_neutralino618]
CMSSW.datasetpath      = /HSCPstop_M-800_Tune4C_8TeV-pythia8/jalimena-stage2_stop800_neutralino618_710-9de2ec39e6652c7428929e3e2aeefa14/USER
CMSSW.pset             = step3_RAW2DIGI_HLT_L1Reco_RECO_stop800_neutralino618.py
USER.ui_working_dir    = ./stop800_neutralino618
USER.publish_data_name = reco_stop800_neutralino618_723patch1

[stop900_neutralino718]
CMSSW.datasetpath      = /HSCPstop_M-900_Tune4C_8TeV-pythia8/jalimena-stage2_stop900_neutralino718_710-7c76f8ba1d36760a45913114bf73b69e/USER
CMSSW.pset             = step3_RAW2DIGI_HLT_L1Reco_RECO_stop900_neutralino718.py
USER.ui_working_dir    = ./stop900_neutralino718
USER.publish_data_name = reco_stop900_neutralino718_723patch1

[stop1000_neutralino819]
CMSSW.datasetpath      = /HSCPstop_M-1000_Tune4C_8TeV-pythia8/jalimena-stage2_stop1000_neutralino819_710-723b39941020b56cd6dd3762a75d48a4/USER
CMSSW.pset             = step3_RAW2DIGI_HLT_L1Reco_RECO_stop1000_neutralino819.py
USER.ui_working_dir    = ./stop1000_neutralino819
USER.publish_data_name = reco_stop1000_neutralino819_723patch1

